<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlockBuster - Store Locations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="icon" type="image/x-icon" href="img/Blockbuster_logo.svg.png">
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/map.css">

    <script type="module">
        // Initialize and add the map
        function initMap() {

            const tel_aviv = { lat: 32.08552355994881, lng: 34.78216797643222 };

            // The map, centered at tel aviv
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 7,
                center: tel_aviv
            });

            var _locations = [<%= stores %>];

            _locations.forEach(location => {
                {
                    new google.maps.Marker(
                        {
                            position: { lat: parseFloat(location["Lat"]), lng: parseFloat(location["Len"]) },
                            map: map
                        });
                }
            })
        }

        window.initMap = initMap;
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <header id="sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/main">Home page</a>
        <a href="/movies">Movies</a>
        <a href="/tvshows">TV Shows</a>
        <a href="/customers">Clients</a>
        <a href="/locations">Locations</a>
        <a href="/admin-stats">Statistics</a>
        <a href="/logout">Logout</a>
    </header>
    <div id="main">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar bg-dark">
                    <div class="container-fluid">
                        <span id="sidenavBtn" onclick="openNav()">&#9776;</span>
                        <form class="d-flex mx-auto" role="search">
                            <div class="input-group mb-3 title text-center">
                                <h5 class="text-white" id="headline">Our Stores Locations</h5>
                            </div>
                        </form>
                        <a href="/addLocationPage"><button class="btn btn-outline-primary" id="addlocation" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                </svg> Add Location</button></a>
                        <a href="/deleteLocationPage"><button class="btn btn-outline-danger" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg> Delete Location</button></a>
                    </div>
                </nav>
                <div id="map"></div>
            </div>
        </div>
        <footer>
            <nav class="navbar">
                <div class="container-fluid">
                    <span>
                        <a class="navbar-brand" href="/main">Home Page</a>
                        <a class="navbar-brand" href="/locations">Locations</a>
                        <a class="navbar-brand" href="/about">About Us</a>
                    </span>
                </div>
            </nav>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvUlKCwgCEFzOgh04sDUdaA9ILtE_SJ9Y&callback=initMap&v=weekly"
        defer></script>

    <script src="js/sidenav.js"></script>
    <script src="js/connect.js"></script>

</body>

</html>