body {
    background-color: #35363a;
    color: white;
    font-family: "heebo";
}

.form-control {
    background-color: #343b42;
    border-radius: 50px;
    color: white;
}

#headline {
    margin-bottom: 0px !important;
}

span {
    color: red
}

.show {
    display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

#sidenavBtn {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.div_choice_input {
    padding-right: 73%;
    padding-top: 5px;
}

#message {
    color: green;
    font-size: 30px;
}

footer {
    position: fixed;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #060606;
}

.navbar-brand {
    color: #818181
}

.navbar-brand:hover {
    color: #504e4e
}

@font-face {
    font-family: "heebo";
    src: url('../Heebo-Regular.ttf')
}

