body {
    background-color: #35363a;
    color: white;
    text-shadow: 2px 2px #19beca;
    font-family: "heebo";
}

.form-control {
    background-color: #343b42;
    border-radius: 50px;
    color: white;
}

#headline {
    margin-bottom: 0px !important;
}
.btn {
    border-radius: 20px;
    height: 50px;
    width: 150px;
    transition-duration: 0.2s;
}

.home_logo {
    width: 30%;
    height: 30%;
}

video {
    width: 492px;
    height:369px;
}

@font-face {
    font-family: "heebo";
    src: url('../Heebo-Regular.ttf')
}


