body {
    background-color: #35363a;
    color: white
}

.form-control {
    background-color: #343b42;
    border-radius: 50px;
    color: white;
}

#headline {
    margin-bottom: 0px !important;
}

span {
    color: red
}

#error_message {
    color: red;
    font-size: 30px;

}

.input_text {
    width: 55%;
}

.div_input {
    padding-left: 200px;
}

.div_choice_input {
    padding-right: 73%;
    padding-top: 5px;
}