body {
    background-color: #35363a;
    font-family: "heebo";
}

#inp_search {
    background-color: #343b42;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 50px;
    color: white;
}

#basic-addon1 {
    background-color: #343b42;
    margin-top: 5px;
    border-radius: 50px;
}

#search_parameters {
    background-color: #343b42;
    border-radius: 50px;
    color: white;
    width: 200px;
    border: none;
    text-align: center;
}

.card {
    background-color: #060606;
    color: white;
}
.dropdown {
    padding-left: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #060606;
}

.navbar-brand {
    color: #818181
}

.navbar-brand:hover {
    color: #504e4e
}

@font-face {
    font-family: "heebo";
    src: url('../Heebo-Regular.ttf')
}